@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .header_icon_wrapper{
    @apply bg-gray-300 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-accent hover:text-white
  }
  .navbar_links:hover{
    color: red;
    transition: all 0.4s;
  }
  .navbar_links::after{
    background-color: #ff8f9c;
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }
  .navbar_links:hover::after{
    scale: 1;
  }
}